<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restful Users</title>
</head>
<body>
    <h1>User {{id}}</h1>
    <p>Full name: {{first_name}} {{last_name}}</p>
    <p>Email: {{email}}</p>
    <p>Created at: {{date}}</p>
    <a href="/users/{{id}}/edit">Edit</a>
    <a href="/users/{{id}}/destroy">Delete</a>
    <a href="/users">Go Back</a>
</body>
</html>