@charset "UTF-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(Images/bg2.jpg);
	color: white;
}

header {
	height: 35px;
	padding: 20px;
	background-color: rgba(0,0,0,.5);
}

.titles {
	margin: auto;
	width: 970px;
	vertical-align: bottom;
}

h1, h2 {
	display: inline-block;
}

h2 {
	margin-left: 420px;
}

article {
	margin: auto;
	width: 970px;
	padding: 20px;
}

#mypic {
	width: 410px;
	border: 7px solid #B1F2FF;
}

#aboutme {
	vertical-align: top;
	display: inline-block;
	margin-left: 20px;
	width: 495px;
	background-color:rgba(0,0,0,.7);
	padding-bottom: 15px;	
}

h3, h4 {
	background-color:rgba(0,0,0,1);
	padding: 10px;
}

#aboutme p, #aboutme a{
	padding: 15px;
	color: white;
}

#portfolio{
	padding-top: 20px;	
}

.container{
	width: 300px;
	float: left;
	background-color:rgba(0,0,0,.7);
	margin-right: 21px;
}

#portfolio p{
	padding: 15px;
	height: 170px;
	font-size: 14px;
} 

.image {
	width: 300px;
}

.pictures {
	padding: 15px;
	margin: auto;
}

.pictures img {
	width: 40px;
	padding: 5px;
}

.button {
	background-color: transparent;
	color: white;
	font-size: 14px;
	padding: 20px 40px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.button:hover {
	text-decoration: underline;
	border-width: 2px;
}

footer {
	height: 35px;
	padding: 20px 20px 40px 20px;
	background-color: white;
	color: #000D13;
}

footer img{
	width: 20px;
	position: relative;
	top: 4px;
}

footer a{
	color: #000D13;
}

.clear {
	clear: both;
}

.titles p{
	text-align: center;
}