@charset "UTF-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}

body{
	background: linear-gradient(#265175, #3572a5);
	font-family: Arial, "sans-serif";
	color: white;
}

header{
	width: 1100px;
	margin:auto;
	padding: 20px;
}

header img{
	width: 350px;
}

#header_info{
	display:inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 400px;
	text-align: right;
	font-size: 14px;
}

#search {
	background-color: #444444;
	padding: 15px 20px;
	text-align: center;
	width: 250px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	margin-left: 60px;
	margin-top: 5px;
}

#search input{
	padding: 7px;
	border-width: 2px;
	text-align: center;
	color: #a9a9a9;
}

input[type="button"]{
	width: 40px;
	background-color: #265175;
	border-radius: 5px;
}

#header_info a{
	color: #d4b200;
}

article{
	margin: auto;
	width: 970px;
}

#menu{
	background-color: #457fad;
	box-shadow: 2px 2px 5px black;
	padding: 10px 40px;
	border-radius: 10px;
	font-size: 22px;
}

#menu li{
	display: inline;
	margin-right: 25.5px;
	margin-left: 25.5px;
}

#content{
	padding-top: 20px;
	vertical-align: top;
}

#links {
	display: inline-block;
	width: 300px;
	text-align: center;
	list-style-position:inside;
	list-style-image: url(Images/arrows.svg);
	font-size: 18px;
	padding-top: 10px;
	vertical-align: top;
}

#links li{
	margin-top: 10px;
}

#info {
	display: inline-block;
	text-align: center;
	width: 650px;
	font-size: 14px;
}

#poem{
	display: inline-block;
	margin-top: 20px;
	font-size: 24px;
	color: #fad130;
	font-style: italic;
	line-height: 35px;
	margin-bottom: 20px;
}

#zen{
	font-size: 20px;
	display: block;
}

a{
	color: white;
}

#blocks {
	background-color: white;
	color: black;
	text-align: center;
	padding-top: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
}

.info_block{
	width: 400px;
	display: inline-block;
	font-size: 13px;
}

hr{
	border: none;
  background-color: #75a8d6;
	height: 5px;
}

h1{
	margin-top: 10px;
	font-size: 16px;
}

.info_block{
	vertical-align: top;
}
.info_block p, .info_block ul{
	width: 270px;
	margin: auto;
}

.info_block ul{
	list-style: square;
}

.info_block a{
	color:  #75a8d6;
	text-decoration: none;
}

footer{
	margin: auto;
	width: 970px;
	text-align: center;
	padding-top: 50px;
	color:  #75a8d6;
}
footer p{
	display: inline-block;
	font-size: 18px;
	padding-right: 30px;
}

footer h6{
	padding: 20px 0px;
}

#subtext{
	font-size: 10px;
		color:  #75a8d6;
}