<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Books Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'beltreview/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<article>
		<header>
			<h1>Welcome {{user.name}}</h1>
			<a href="/books/add">Add a book and review</a>
			<a href="/logout">Logout</a>
		</header>
		<h1>Recent Book Reviews:</h1>
		{% for review in reviews %}
		<div>
			<a href="/books/{{review.book_id}}">{{review.book_name}}</a>
			<P>Rating: {{review.rating}}</P>
			<p><a href="/users/{{review.user_id}}">{{review.user}}</a> says: {{review.review}}</p>
			<p>Posted on {{review.date}}</p>
		</div>
		{% endfor %}
		<h1>Other Books with Reviews:</h1>
		{% for book in books %}
		<div>
		<a href="books/{{book.id}}">{{book.name}}</a>
		</div>
		{% endfor %}
	</article>	 
</body>
</html>