<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
    <form action="/">
        <input type="submit" value="Back">
    </form>
</body>
</html>