<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'displayt/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
</head>
<body>
    <header>
        <p>The current time and date:</p>
    </header>
    <article>
        <div>{{date}}</div>
        <div>{{time}}</div>
    </article>
</body>
</html>